.page {
  max-inline-size: 1024px;
  color: var(--text-color, #353430);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  background-color: var(--background-color, #fff1f7);
  line-height: calc(100% * 23.5 / 18);
  background-image: var(--background-image-path, url('../images/cover-image-light.png'));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header {
  --height-range1-count: clamp(768px, calc(1024px + (100vw - 768px) / (1024 - 768) * (768 - 1024)), 1024px);
  --height-range1: min(max(0px, (100vw - 767.5px) * 10000), var(--height-range1-count));
  --height-range2-count: clamp(668px , calc(668px + (100vw - 375px) / (768 - 375) * (1024 - 668)), 1024px);
  --height-range2: min(max(0px, (767.5px - 100vw) * 10000), var(--height-range2-count));
  max-block-size: 100vh;
  min-block-size: min(100vh, max(var(--height-range1), var(--height-range2)));
  margin-block-end: clamp(40px, calc(40px + (100vw - 375px) / (768 - 375) * (60 - 40)), 60px);
  margin-inline-end: var(--main-margin, 20px);
  margin-inline-start: var(--main-margin, 20px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: repeat(4, 1fr);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-inline-end: calc(max(0px, 100% - 1024px) / 2);
  inset-block-start: var(--main-margin, 20px);
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--theme-color, #353430);
  border-block-start: 1px solid var(--theme-color, #353430);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: calc(max(0px, 100% - 1024px) / 2);
  inset-block-end: var(--main-margin, 20px);
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--theme-color, #353430);
  border-block-end: 1px solid var(--theme-color, #353430);
}

.header__decoration {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 4;
  grid-column-end: span 1;
  justify-self: end;
  margin-inline-end: calc(19px + max(0px, 100% - 1024px) / 2);
  margin-block-start: calc(1px + var(--main-margin, 20px));
  display: flex;
  block-size: 30px;
  color: var(--rec-color, transparent);
  text-transform: uppercase;
}

.header__decoration::after {
  content: '\a0';
  display: flex;
  margin-block-start: 7px;
  inline-size: 9px;
  block-size: 9px;
  position: relative;
  inset-inline-start: 10px;
  background: var(--rec-color, transparent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color, transparent);
}

.header__theme-menu {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  align-self: start;
  justify-self: center;
  margin-block-start: 18px;
  inline-size: 232px;
}

@media (width < 1024px) {
  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: span 4;
    inline-size: 74px;
    justify-self: end;
    align-self: center;
    margin-inline-end: -3px;
    margin-block-start: var(--main-margin);
  }
}

.header__theme-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
}

.header__theme-menu-button {
  display: flex;
  text-transform: lowercase;
  border: none;
  outline-offset: -3px;
  margin: 0 -1px;
  min-block-size: 30px;
  justify-content:center;
  inline-size: 74px;
  background: transparent;
  color: var(--theme-color, #353430);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 0.6em;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--theme-color, #353430);
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--hover-color, rgb(50 49 45 / 0.4));
  cursor: pointer;
}

.header__title {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 4;
  --font-size-range1-count: clamp(120px, calc(120px + (100vw - 768px) / (1024 - 768) * (157 - 120)), 157px);
  --font-size-range1: min(max(0px, (100vw - 767.5px) * 10000), var(--font-size-range1-count));
  --font-size-range2-count: clamp(116px, calc(116px + (100vw - 375px) / (768 - 375) * (120 - 116)), 120px);
  --font-size-range2: min(max(0px, (767.5px - 100vw) * 10000), var(--font-size-range2-count));
  font-size: max(var(--font-size-range1), var(--font-size-range2));
  font-weight: bold;
  margin-inline-start: calc(20px - var(--main-margin) * 2);
  align-self: center;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--title-shadow-desctop-color, #ff0070);
  color: var(--title-text-color, #ffc2e6);
} 

@media (width < 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--title-shadow-mobile-color, #ff8dcb);
  }
}

.header__subtitle,
.main__article-title,
.main__article-subtitle {
  background-color: var(--headers-background-color, #ff8dcb);
  color: var(--headers-text-color, #353430);
}

.header__subtitle,
.main__article-title {
  font-weight: bold;
}

.header__subtitle {
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 2;
  align-self: center;
  margin-block-start: calc(0px - var(--main-margin));
}

@media (width < 588px) {
  .header__subtitle {
    grid-column-start: 1;
    grid-column-end: span 4;
  }
}

.main__section {
  display: grid;
  --column1: clamp(236px, calc(236px + (100vw - 768px) / (1024 - 768) * (315 - 236)), 315px);
  grid-template-columns: var(--column1) 1fr 1fr;
  gap: var(--main-margin);
  margin-inline-start: var(--main-margin);
  margin-inline-end: var(--main-margin);
  margin-block-end: calc(var(--main-margin) * 3 + 18px);
}

@media (width < 768px) {
  .main__section {
    grid-template-columns: 1fr;
  }
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

@media (width >= 1024px) {
  .wide-on-mobile:first-of-type {
    grid-column-start: 1;
  }
}

@media (768px <= width < 1024px) {
  .wide-on-mobile {
    grid-column: span 3;
  }
}

.main__section-title,
.main__article-title {
  font-size: inherit;
  line-height: inherit;
}

.main__section-title {
  color: var(--theme-color, #353430);
}

.main__article-title {
  align-self: start;
  margin-block-start: clamp(0px, 10px + (100vw - 375px) / (768 - 375) * (0 - 10), 10px);
  margin-block-end: clamp(9.5px, 10px + (100vw - 375px) / (768 - 375) * (9.5 - 10), 10px);
}

.main_text:not(:last-child) {
  margin-block-end: 10px;
}

.main__article-subtitle {
  font-weight: normal;
  margin-block-start: 20px;
  margin-block-end: clamp(9.25px, 10px + (100vw - 375px) / (768 - 375) * (9.25 - 10), 10px);
}

.main__link {
  text-shadow: 2px 2px var(--link-shadow-color, #ff8dcb);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.main__link:hover {
  border-color: var(--text-color, #353430);
}

.main__link:focus-visible {
  outline: 1px solid var(--text-color, #353430);
  outline-offset: -1px;
}

.main__image-section {
  margin-inline-start: var(--main-margin);
  margin-inline-end: var(--main-margin);
  margin-block-start: calc(var(--main-margin) * 3 + 19px);
  margin-block-end: calc(var(--main-margin) * 3 + 18px);
}

.main__image-set {
  display: grid;
  --row1: clamp(192px, calc(192px + (100vw - 768px) / (1024 - 768) * (260 - 192)), 260px);
  --row2: clamp(230px, calc(230px + (100vw - 768px) / (1024 - 768) * (315 - 230)), 315px);
  --row3: clamp(318px, calc(318px + (100vw - 768px) / (1024 - 768) * (434 - 318)), 434px);
  --column1: clamp(229px, calc(229px + (100vw - 768px) / (1024 - 768) * (315 - 229)), 315px);
  --column2: clamp(230px, calc(229px + (100vw - 768px) / (1024 - 768) * (315 - 229)), 315px);
  --column3: var(--column1);
  grid-template-rows: var(--row1) var(--row2) var(--row3);
  grid-template-columns: var(--column1) var(--column2) var(--column3);
  gap: var(--main-margin);
  margin-block-start: var(--main-margin);
}

.main__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.large-top-margin {
  margin-block-start: clamp(0px, (100vw - 768px) / (1024 - 768) * (6 - 0), 6px);
}

@media (width < 768px) {
  .main__image-set {
    --coef: calc(1px + (100vw - 375px) / (768 - 375));
    --row1: calc(142 * var(--coef));
    --row2: calc(355 * var(--coef));
    --row3: calc(237 * var(--coef));
    --row4: calc(355 * var(--coef));
    --row5: calc(237 * var(--coef));
    grid-template-rows: var(--row1) var(--row2) var(--row3) var(--row4) var(--row5);
    grid-template-columns: 1fr;
  }

  .tall {
    grid-row: span 1;
  }

  .wide {
    grid-column: span 1;
  }

  .empty {
    display: none;
  }
}

.footer {
  --height-range1-count: clamp(768px, calc(1024px + (100vw - 768px) / (1024 - 768) * (768 - 1024)), 1024px);
  --height-range1: min(max(0px, (100vw - 767.5px) * 10000), var(--height-range1-count));
  --height-range2-count: clamp(668px , calc(668px + (100vw - 375px) / (768 - 375) * (1024 - 668)), 1024px);
  --height-range2: min(max(0px, (767.5px - 100vw) * 10000), var(--height-range2-count));
  max-block-size: 100vh;
  min-block-size: min(100vh, max(var(--height-range1), var(--height-range2)));
  margin-inline-end: var(--main-margin, 20px);
  margin-inline-start: var(--main-margin, 20px);
  margin-block-start: calc(2px - var(--main-margin, 20px));
  display: flex;
  justify-content: center;
}

.footer__title {
  --font-size-range1-count: clamp(120px, calc(120px + (100vw - 768px) / (1024 - 768) * (157 - 120)), 157px);
  --font-size-range1: min(max(0px, (100vw - 767.5px) * 10000), var(--font-size-range1-count));
  --font-size-range2-count: clamp(116px, calc(116px + (100vw - 375px) / (768 - 375) * (120 - 116)), 120px);
  --font-size-range2: min(max(0px, (767.5px - 100vw) * 10000), var(--font-size-range2-count));
  font-size: max(var(--font-size-range1), var(--font-size-range2));
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--title-shadow-desctop-color, #ff0070);
  color: var(--title-text-color, #ffc2e6);
  align-self: center;
} 

@media (width < 1024px) {
  .footer__title {
    text-shadow: 2px 2px 0 var(--title-shadow-mobile-color, #ff8dcb);
  }
}
