:root {
  --diff: calc(100vw - 100%);

  /* shift of the "no focus" title from word wrap */
  --shift: calc((116 + (581.5 - 375) / (768 - 375) * (120 - 116)) * 82.5 / 100);
  --shift-px: calc(1px * var(--shift));
  --shift-position: calc(581.5px + var(--diff));

  /* default margin */
  --main-margin: clamp(10px, 10px + (100vw - 375px) / (768 - 375) * (20 - 10), 20px);

  --auto-text-color: #f1b2ce;
  --auto-headers-text-color: #000028;
  --auto-headers-background-color: #ff0070;
  --auto-title-text-color: #db00ff;
  --auto-background-color: #000028;
  --auto-title-shadow-desctop-color: #ff0070;
  --auto-title-shadow-mobile-color: #ff0070;
  --auto-hover-color: rgb(255 00 112 / 0.4);
  --auto-link-shadow-color: #ff0070;
  --auto-theme-color: #ff0070;
  --auto-rec-color: #ff0070;
  --auto-background-image-path: url('../images/cover-image-dark.png');
}
